@import "tailwindcss";

:root {
  --background: #4b5563;
  --foreground: #eeeeee;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #4b5563;
    --foreground: #eeeeee;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

input[type="date"]::placeholder {
  color: #9ca3af; /* Tailwind's text-gray-400 */
  opacity: 1; /* ensure it's visible */
}

/* For WebKit browsers like Chrome/Safari */
input[type="date"]::-webkit-datetime-edit {
  color: #9ca3af;
}

@theme {
  --color-trackcolor: #0f172a;
  --color-trackcolorodd: #334155;
  --color-taskcolor: oklch(0.685 0.169 237.323);
  --color-currentdatecolor: oklch(0.555 0.163 48.998);
  --color-ganttbottom: #cad5e2;
}

@theme {
  --color-navbar: #1e293b;
  --color-sidebar: #374151;
  --color-backdrop: #4b5563;
}

@theme {
  --color-button: #334155;
  --color-button-hover: #0f172a;
}
